/* listing heading*/
.list-page-heading {
  padding-top: 44px;
  background: #fafafa;
  padding-bottom: 57px;
}
.list-page-heading .section-heading {
  padding-bottom: 9px;
}
.list-page-heading .section-heading h3 {
  color: #e14931;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.list-page-heading .section-heading span {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}


.btn-success {
 
    background-color: #fff;
    border-color: #e14931;
    color: black;
}

.btn-success:hover {
 background-color: #e14931 !important;
    border-color: #e14931 !important;
    color: black !important;
}

.btn-success:active {
 background-color: #e14931 !important;
    border-color: #e14931 !important;
    color: black !important;

}

/* -----------------------------------
**  Companny Create
-------------------------------------*/
.company-crate-body {
  padding-top: 8px;
}
.route-upload-file {
  text-align: center;
  padding-bottom: 43px;
}
.route-upload-file .image {
  width: 80px;
  height: 80px;
  margin: 3px auto;
}
.route-upload-file .image input {
  display: none;
}
.route-upload-file .image label i {
  font-size: 72px;
  color: #ababab;
}
.route-upload-file span {
  display: block;
}
.route-upload-file span.max-size {
  font-weight: 300;
}
.company-create-form h4 {
  font-weight: 700;
}
.company-create-form .route-button {
  border: 0;
  margin-top: 46px;
  border-radius: 3px;
}
.company-create-form .sort-job-type .checkbox-item label {
  font-weight: 500;
  color: #808080;
  font-size: 13px;
}
.create-from-input-item {
  padding-top: 10px;
  padding-bottom: 15px;
}
.create-from-input-item label {
  font-weight: 500;
  color: #1d1d1d;
}
.create-from-input-item .input-group {
  width: 100%;
}
.create-from-input-item .input-group input,
.create-from-input-item .input-group select {
  height: 50px;
  background: #fafafa;
  border-radius: 0;
  border: 1px solid #f2f2f2;
  box-shadow: none;
  color: #1d1d1d;
  padding-right: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.create-from-input-item .input-group input:focus,
.create-from-input-item .input-group select:focus {
  box-shadow: none;
  background: #f7f7f7;
}
.create-from-input-item .input-group select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.create-from-input-item .input-group .right-side-icon {
  background:  lightgrey; none repeat scroll 0 0;
  color: #ccccc;
  font-size: 18px;
  height: 50px;
  padding-left: 18px;
  padding-top: 15px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 10;
}
.create-from-input-item .input-group .input-group-addon {
  background: lightgrey;
  border-radius: 0;
  border: 0;
  width: 50px;
  color: #ccccc;
  font-size: 15px;
}
.short-description {
  margin-top: 30px;
  margin-bottom: 52px;
}
.short-description h4 {
  margin-bottom: 30px;
}
.short-description textarea {
  width: 100%;
  min-height: 200px;
  background: #fafafa;
  border-radius: 0;
  border: 1px solid #f2f2f2;
  padding-left: 20px;
  color: #1d1d1d;
  padding-top: 15px;
}
.short-description textarea:focus {
  box-shadow: none;
}
.add-skill .create-from-input-item .input-group-addon {
  padding: 0;
  border: 0;
}
.add-skill .create-from-input-item .input-group-addon button {
  width: 100%;
  height: 50px;
  background: #e14931;
  border: 0;
  color: #fff;
  font-size: 18px;
}
.add-skill .require-skill ul li button {
  color: #909090;
  border-color: #ababab;
  line-height: 33px;
}
.job-headline-descripttion {
  margin-bottom: 10px;
  background: #fafafa;
  padding: 35px 35px 18px 35px;
  overflow: hidden;
}
.job-headline-descripttion .create-from-input-item .input-group input,
.job-headline-descripttion textarea {
  background: #fff;
  border-color: #e6e6e6;
}
.job-headline-descripttion .short-description {
  margin-top: 13px;
  margin-bottom: 32px;
}
.div-remove-button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: #ababab;
  cursor: pointer;
}
.div-remove-button i {
  padding-right: 5px;
}
.job-headline-descripttion-parent {
  position: relative;
  padding-bottom: 42px;
}
.job-headline-descripttion-parent .job-headline-descripttion:first-of-type .div-remove-button {
  display: none;
}
.clone-button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  display: inline-block;
}
.clone-button i {
  padding-right: 5px;
}
.professional-exprence {
  margin-bottom: 10px;
  position: relative;
  padding: 30px 18px 15px 30px;
  overflow: hidden;
}

.add-skill .create-from-input-item .input-group-addon {
  padding: 0;
  border: 0;
}
.add-skill .create-from-input-item .input-group-addon button {
  width: 100%;
  height: 50px;
  background: lightgrey;
  border: 0;
  color: #333333;
  font-size: 18px;
}



.add-skill .require-skill ul li button {
  color: #909090;
  border-color: #ababab;
  line-height: 33px;
}
.job-headline-descripttion {
  margin-bottom: 10px;
  background: #fafafa;
  padding: 35px 35px 18px 35px;
  overflow: hidden;
}
.job-headline-descripttion .create-from-input-item .input-group input,
.job-headline-descripttion textarea {
  background: #fff;
  border-color: #e6e6e6;
}
.job-headline-descripttion .short-description {
  margin-top: 13px;
  margin-bottom: 32px;
}

/* -----------------------------------
**  Upload File Drag & Drop
-------------------------------------*/

.btn-file {
        position: relative;
        overflow: hidden;
    }
    
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    
    .img-zone {
        background-color: #fafafa;
        border: 5px dashed #333333;
        border-radius: 5px;
        padding: 20px;
    }
    
    .img-zone h2 {
        margin-top: 0;
    }
    
    .progress, #img-preview {
        margin-top: 15px;
    }
	
	
	
/* -----------------------------------
**  Chekbox
-------------------------------------*/





/* -----------------------------------
**  View Page
-------------------------------------*/


.candidate-detail-job-heading .job-requierment {
  margin-top: 73px;
  border-bottom: 1px solid #e5e5e5;
}
.candidate-detail-job-heading .apply-button a {
  min-width: 170px;
}
.candidate-detail-body {
  background: #fafafa;
}
.candidateheading {
  padding: 10px 35px;
  border-bottom: 1px solid #ebebeb;
}
.single-item {
  background: #fff;
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
}
.single-item .content {
  padding: 27px 35px;
}
.candidate-detail-body .experience {
  padding-bottom: 10px;
}
.candidate-detail-body .experience .content {
  max-width: 970px;
}
.candidate-detail-body .experience hr {
  margin-bottom: 25px;
}
.single-exprence {
  padding-bottom: 6px;
}
.orange {
    color: #e14931;
}






.panel-group .panel {
        border: 3px solid #e14931 !important;
        box-shadow: none;
        border-color: #EEEEEE;
		border-radius: 10px;

    }
	


.panel-default > .panel-heading {
        padding: 0;
        color: #fff;
        background-color: #e14931 !important;
        border-color: #e14931 !important;

    }

.panel-title {
        font-size: 14px;
    }

.panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }
.panel-title > a:hover { color:#fff;    }
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f056";
    padding-right: 5px;
	font-size:22px;

    margin-top: -5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f055";
	font-size:22px;

    margin-top: -5px;
}
.more-less {
    float: right;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 12px;
	width:22px;
	height:22px;
	padding:4px 5px;
	
}

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
	
	/* -----------------------------------
**  Panels Filter-View Page
-------------------------------------*/
	
	
	.col-xs-5th-1, .col-xs-5th-2, .col-xs-5th-3, .col-xs-5th-4 {
  float: left;
}

.col-xs-5th-5 {
  float: left;
  width: 100%;
}

.col-xs-5th-4 {
  width: 80%;
}

.col-xs-5th-3 {
  width: 60%;
}

.col-xs-5th-2 {
  width: 40%;
}

.col-xs-5th-1 {
  width: 20%;
}

.col-xs-5th-pull-5 {
  right: 100%;
}

.col-xs-5th-pull-4 {
  right: 80%;
}

.col-xs-5th-pull-3 {
  right: 60%;
}

.col-xs-5th-pull-2 {
  right: 40%;
}

.col-xs-5th-pull-1 {
  right: 20%;
}

.col-xs-5th-pull-0 {
  right: auto;
}

.col-xs-5th-push-5 {
  left: 100%;
}

.col-xs-5th-push-4 {
  left: 80%;
}

.col-xs-5th-push-3 {
  left: 60%;
}

.col-xs-5th-push-2 {
  left: 40%;
}

.col-xs-5th-push-1 {
  left: 20%;
}

.col-xs-5th-push-0 {
  left: auto;
}

.col-xs-5th-offset-5 {
  margin-left: 100%;
}

.col-xs-5th-offset-4 {
  margin-left: 80%;
}

.col-xs-5th-offset-3 {
  margin-left: 60%;
}

.col-xs-5th-offset-2 {
  margin-left: 40%;
}

.col-xs-5th-offset-1 {
  margin-left: 20%;
}

.col-xs-5th-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-5th-1, .col-sm-5th-2, .col-sm-5th-3, .col-sm-5th-4 {
    float: left;
  }

  .col-sm-5th-5 {
    float: left;
    width: 100%;
  }

  .col-sm-5th-4 {
    width: 80%;
  }

  .col-sm-5th-3 {
    width: 60%;
  }

  .col-sm-5th-2 {
    width: 40%;
  }

  .col-sm-5th-1 {
    width: 20%;
  }

  .col-sm-5th-pull-5 {
    right: 100%;
  }

  .col-sm-5th-pull-4 {
    right: 80%;
  }

  .col-sm-5th-pull-3 {
    right: 60%;
  }

  .col-sm-5th-pull-2 {
    right: 40%;
  }

  .col-sm-5th-pull-1 {
    right: 20%;
  }

  .col-sm-5th-pull-0 {
    right: auto;
  }

  .col-sm-5th-push-5 {
    left: 100%;
  }

  .col-sm-5th-push-4 {
    left: 80%;
  }

  .col-sm-5th-push-3 {
    left: 60%;
  }

  .col-sm-5th-push-2 {
    left: 40%;
  }

  .col-sm-5th-push-1 {
    left: 20%;
  }

  .col-sm-5th-push-0 {
    left: auto;
  }

  .col-sm-5th-offset-5 {
    margin-left: 100%;
  }

  .col-sm-5th-offset-4 {
    margin-left: 80%;
  }

  .col-sm-5th-offset-3 {
    margin-left: 60%;
  }

  .col-sm-5th-offset-2 {
    margin-left: 40%;
  }

  .col-sm-5th-offset-1 {
    margin-left: 20%;
  }

  .col-sm-5th-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-5th-1, .col-md-5th-2, .col-md-5th-3, .col-md-5th-4 {
    float: left;
  }

  .col-md-5th-5 {
    float: left;
    width: 100%;
  }

  .col-md-5th-4 {
    width: 80%;
  }

  .col-md-5th-3 {
    width: 60%;
  }

  .col-md-5th-2 {
    width: 40%;
  }

  .col-md-5th-1 {
    width: 20%;
  }

  .col-md-5th-pull-5 {
    right: 100%;
  }

  .col-md-5th-pull-4 {
    right: 80%;
  }

  .col-md-5th-pull-3 {
    right: 60%;
  }

  .col-md-5th-pull-2 {
    right: 40%;
  }

  .col-md-5th-pull-1 {
    right: 20%;
  }

  .col-md-5th-pull-0 {
    right: auto;
  }

  .col-md-5th-push-5 {
    left: 100%;
  }

  .col-md-5th-push-4 {
    left: 80%;
  }

  .col-md-5th-push-3 {
    left: 60%;
  }

  .col-md-5th-push-2 {
    left: 40%;
  }

  .col-md-5th-push-1 {
    left: 20%;
  }

  .col-md-5th-push-0 {
    left: auto;
  }

  .col-md-5th-offset-5 {
    margin-left: 100%;
  }

  .col-md-5th-offset-4 {
    margin-left: 80%;
  }

  .col-md-5th-offset-3 {
    margin-left: 60%;
  }

  .col-md-5th-offset-2 {
    margin-left: 40%;
  }

  .col-md-5th-offset-1 {
    margin-left: 20%;
  }

  .col-md-5th-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-5th-1, .col-lg-5th-2, .col-lg-5th-3, .col-lg-5th-4 {
    float: left;
  }

  .col-lg-5th-5 {
    float: left;
    width: 100%;
  }

  .col-lg-5th-4 {
    width: 80%;
  }

  .col-lg-5th-3 {
    width: 60%;
  }

  .col-lg-5th-2 {
    width: 40%;
  }

  .col-lg-5th-1 {
    width: 20%;
  }

  .col-lg-5th-pull-5 {
    right: 100%;
  }

  .col-lg-5th-pull-4 {
    right: 80%;
  }

  .col-lg-5th-pull-3 {
    right: 60%;
  }

  .col-lg-5th-pull-2 {
    right: 40%;
  }

  .col-lg-5th-pull-1 {
    right: 20%;
  }

  .col-lg-5th-pull-0 {
    right: auto;
  }

  .col-lg-5th-push-5 {
    left: 100%;
  }

  .col-lg-5th-push-4 {
    left: 80%;
  }

  .col-lg-5th-push-3 {
    left: 60%;
  }

  .col-lg-5th-push-2 {
    left: 40%;
  }

  .col-lg-5th-push-1 {
    left: 20%;
  }

  .col-lg-5th-push-0 {
    left: auto;
  }

  .col-lg-5th-offset-5 {
    margin-left: 100%;
  }

  .col-lg-5th-offset-4 {
    margin-left: 80%;
  }

  .col-lg-5th-offset-3 {
    margin-left: 60%;
  }

  .col-lg-5th-offset-2 {
    margin-left: 40%;
  }

  .col-lg-5th-offset-1 {
    margin-left: 20%;
  }

  .col-lg-5th-offset-0 {
    margin-left: 0%;
  }
}

.advertblock{
	width: 1140px;
	
display:block; 
height: auto;
}

/*Tag CSS*/

.tag {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 1em 2em;
  margin: 0.125em 1em;
  transition: color 0.5s, background 0.5s, border 0.5s;
  font-size: 10px;
}

.tag:after,
.tag:before {
  content: "";
  position: absolute;
}

/*punched hole*/
.tag:after {
  height: 0.5em;
  width: 0.5em;
  left: 0;
  top: 50%;
  margin-top: -0.25em;
  border-radius: 100%;
  background-color: currentColor;
}

/*Tag's tail*/
.tag:before {
  border: 1.5em solid transparent;
  right: 100%;
  top: 0;
  bottom: 0;
  border-right-color: inherit;
}

/*Tag Color Scheme.
  Background and border color should match
*/
.tag {
  background-color: #e14931;
  border-color: #e14931;
  color: white;
}

.tag:hover {
  background-color: #701706;
  border-color: #701706;
  color: white;
}	


/*Pricing Plans*/

#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#pricePlans:after {
	content: '';
	display: table;
	clear: both;
}

#pricePlans {
	zoom: 1;
}

#pricePlans {
	max-width: 69em;
	margin: 0 auto;
}

#pricePlans #plans .plan {
	background: #fff;
	float: left;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 20px 0;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer .title h2 {
	font-size: 2.125em;
	font-weight: 300;
	color: #3e4f6a;
	margin: 0;
	padding: .6em 0;
}

.planContainer .title h2.bestPlanTitle {
	background: #3e4f6a;

	background: -webkit-linear-gradient(top, #103D5D, #103D5D);
	background: -moz-linear-gradient(top, #103D5D, #103D5D);
	background: -o-linear-gradient(top, #103D5D, #103D5D);
	background: -ms-linear-gradient(top, #103D5D, #103D5D);
	background: linear-gradient(top, #103D5D, #103D5D);
	color: #fff;
	border-radius: 5px 5px 0 0;
}


.planContainer .price p {
	background: #3e4f6a;

		background: -webkit-linear-gradient(top, #103D5D, #103D5D);
	background: -moz-linear-gradient(top, #103D5D, #103D5D);
	background: -o-linear-gradient(top, #103D5D, #103D5D);
	background: -ms-linear-gradient(top, #103D5D, #103D5D);
	background: linear-gradient(top, #103D5D, #103D5D);
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	height: 2.6em;
	line-height: 2.6em;
	margin: 0 0 1em;
}

.planContainer .price p.bestPlanPrice {
	background: #e14931;
}

.planContainer .price p span {
	color: #8394ae;
}

.planContainer .options {
	margin-top: 10em;
}

.planContainer .options li {
	font-weight: 700;
	color: #364762;
	line-height: 2.5;
}

.planContainer .options li span {
	font-weight: 400;
	color: #979797;
}

.planContainer .button a {
	text-transform: uppercase;
	text-decoration: none;
	color: #3e4f6a;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 2.8em;
	border: 2px solid #3e4f6a;
	display: inline-block;
	width: 80%;
	height: 2.8em;
	border-radius: 4px;
	margin: 1.5em 0 1.8em;
}

.planContainer .button a.bestPlanButton {
	color: #fff;
	background: #e14931;
	border: 2px solid #e14931;
}

#credits {
	text-align: center;
	font-size: .8em;
	font-style: italic;
	color: #777;
}

#credits a {
	color: #333;
}

#credits a:hover {
	text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
	margin: 2em auto;
	margin-left: 10em;
}

#pricePlans #plans .plan {
	width: 24%;
	margin: 0 1.33% 20px 0;

	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

#pricePlans #plans > li:last-child {
	margin-right: 0;
}

#pricePlans #plans .plan:hover {
	-webkit-transform: scale(1.04);
	   -moz-transform: scale(1.04);
	    -ms-transform: scale(1.04);
	     -o-transform: scale(1.04);
	        transform: scale(1.04);
}

.planContainer .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.planContainer .button a:hover {
	background: #3e4f6a;
	color: #fff;
}

.planContainer .button a.bestPlanButton:hover {
	background: #ff9c70;
	border: 2px solid #ff9c70;
}

}

/*Social Logins*/
.social-login {
	margin-top: 3px;
}

.social-login-buttons {
	margin-top: 25px;
}
.btn-link-1 {
	
	display: inline-block;
margin: 2px;
background: #19b9e7;
font-weight: 300;
line-height: 16px;
color: #fff;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }
.btn-link-1.btn-link-1-linkedin { background: #006599; }
.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/* Breadcrumb CSS
/*----------------------------------------*/
.breadcrumbs > li {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  padding-right: 10px;
  text-transform: capitalize;
}
.breadcrumbs > li:last-child {
  color: #e14931;
  padding-right: 0;
}
ul.breadcrumbs li a, ul.breadcrumbs li span {
  color: #3c3c3c;
}
ul.breadcrumbs a:hover {
  color: #e14931;
}
.breadcrumb-single ul.breadcrumbs li a i {
  font-size: 14px;
  margin-right: 5px;
}
.breadcrumbs-area {
  border-top: 1px dotted #f1f1f2;
  padding-top: 20px;
}
.breadcrumb-single {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}

/* Tabs panel */
.tabbable-panel {
 padding-top: 30px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}


/* Circles */

.orange-circle-button {
font-size: 1em;
line-height: 1.1em;
color: #ffffff;
background-color: #e14931;
margin: auto;
border-radius: 50%;
height: 8em;
width: 8em;
border: 0px;
}
.orange-circle-button:focus{
outline: none;
}
.music-categories-head h2{
font-size: 40px;
font-family: OpenSans;
letter-spacing: -1px;
color: #717171;
}
.music-categories-head p{
font-size: 18px;
font-family: Karla;
color: #444040;
}
.circle-main{
   min-height: 450px;	
}
.circle-div{
display: inline-block;

}
.circle-div-bluse{
top: 0px;
left: 0px;
}
.circle-div-pop{
top: 0px;
left: 120px;
}
.circle-div-hip-pop{
top: 36px;
left: 234px;
}
.circle-div-reegae{
top: 36px;
left: 354px;
}
.circle-div-jazz{
top: 36px;
left: 476px;
}
.circle-div-rb{
top: 12px;
left: 601px;
}
.circle-div-classic-rock{
top: 54px;
right: 140px;
}
.circle-div-metal{
top: 118px;
left: 67px;
}
.circle-div-electronic{
top: 148px;
left: 190px;
}
.circle-div-experimental{
top: 153px;
left: 315px;
}
.circle-div-oldies{
top: 151px;
left: 442px;
}
.circle-div-rock{
top: 142px;
right: 284px;
}
.circle-div-classical{
top: 176px;
right: 155px;
}
.circle-div-latin{
top: 221px;
left: 0;
}
.circle-div-hits{
top: 266px;
left: 125px;
}
.circle-div-indie{
top: 257px;
left: 253px;
}
.circle-div-christian{
top: 265px;
left: 384px;
}
.circle-div-alternative{
top: 250px;
left: 513px;
}
.circle-div-dance{
top: 287px;
right: 225px;
}
.circle-div-country{
top: 288px;
right: 100px;
}
.circle-you-button{
	font-size: 1.1em;
	line-height: 1.1em;
	color: #ccc;
	background-color: #fff;
	margin: auto;
	border-radius: 50%;
	height: 6em;
	width: 6em;
	border: 4px  solid rgba(255, 26, 87, 0.19);
}


/* Progress Bar */

section.progress-barr {
    margin-bottom: 120px;
	  margin-top: 30px;
	
}

.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
}

ul.checkout-bar {
  margin: 0 20px;
}
ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #e14931;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #e14931;
  z-index: 1;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #e14931;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #e14931;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}
ul.checkout-bar a {
  color: #e14931;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #e14931;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin: 80px auto;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #e14931;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #e14931;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}


/* -----------------------------------
**  Contact
-------------------------------------*/

.contact-us-form {
  padding-top: 22px;
}
.contact-us-form .section-heading {
  padding-bottom: 18px;
}
.contact-us-form .section-heading h3 {
  margin-bottom: 16px;
}
.contact-us-form .section-heading p {
  max-width: 500px;
}
.contact-us-form .route-button {
  min-width: 200px;
  padding: 15px 20px;
}
.contact-us-form .short-description {
  margin-bottom: 28px;
}
.footer-address-area {
  background: #fafafa;
  border-top: 1px solid #eeeeee;
  position: relative;
}
.footer-address-area .heading {
  padding-top: 35px;
}
.footer-address-area .heading h3 {
  margin-bottom: 20px;
}
.footer-address-area .heading p {
  max-width: 500px;
  font-size: 16px;
  line-height: 28px;
}
.footer-address-area .singel-locaton {
  padding-top: 1px;
  padding-bottom: 14px;
}
.footer-address-area .singel-locaton .phone-number {
  position: relative;
  padding-left: 25px;
}
.footer-address-area .singel-locaton h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.footer-address-area .singel-locaton span {
  font-size: 15px;
}
.footer-address-area .singel-locaton span::before {
  content: "\f098";
  font-family: 'FontAwesome';
  padding-right: 10px;
  left: 0;
  position: absolute;
}
.footer-address-area .official-information {
  border-left: 1px solid #eeeeee;
  padding-left: 65px;
  padding-bottom: 90px;
}
.contact-us-form .write-comment .short-description textarea {
  margin-right: 0;
}

/* Review & Payment Method */
.payment-method {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}

.total {
	font-size:25px;
	color:green;
	
}

.method {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 122px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
  justify-content: center;
  align-items: center;
}

.blue-border {
  border: 1px solid #e14931;
}

.card-logos {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.radio-input {
  margin-top: 20px;
}

input[type='radio'] {
  display: inline-block;
}



/* REVIEW & COMMENTS*/
#reviews .review-title{
    margin-bottom: 50px;
    font-size: 20px;
}
#reviews .commentlist .comment{
    list-style: none;
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
}
#reviews .commentlist .comment:last-child{
    margin-bottom: 0;
    border: none;
}
#reviews .avatar{
    width: 55px;
    height: 55px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#reviews .comment-text{
    overflow: hidden;
    padding-left: 20px;
}
#reviews .comment-text .rating{
    color: #ecc366;
    font-size: 10px;
}
#review_form{
    margin-top: 50px;
}
#review_form input[type="text"],
#review_form input[type="email"],
#review_form textarea{
    width: 100%;
}
#review_form label{
    font-weight: normal;
    display: block;
}
#review_form .stars{
    margin: 0;
}
#review_form .stars a{
    font-size: 0;
    color: #ccc;
    display: inline-block;
    border-right: 1px solid #eeeeee;
    padding: 0 10px;
    line-height: 12px;
}
#review_form .stars a:first-child{
    padding-left: 0;
}
#review_form .stars a:before {
    font-family: 'FontAwesome';
    font-size: 12px;
    display: inline-block;
}
#review_form .stars .star-1:before {
    content: "\f005";
}
#review_form .stars  .star-2:before {
    content: "\f005\f005";
}
#review_form .stars .star-3:before {
    content: "\f005\f005\f005";
}
#review_form .stars .star-4:before {
    content: "\f005\f005\f005\f005";
}
#review_form .stars .star-5:before {
    content: "\f005\f005\f005\f005\f005";
}
#review_form .stars a:hover,
#review_form .stars a.active{
    color: #ffcc33;
}

 /* Credit Css*/
   
     .head
{
	border-bottom:1px solid #cfcfcf;
	padding-bottom:12px;
	text-align:center;
}

.head p
{
	font-size:20px;
	font-weight:500;
}
.head a img
{
	float:right;
	padding-right:15px;
} 
.diamond a img
{
	display:inline-block;
	padding:0px 0px 0px 12px;
	
    width: 95px;
}
.diamond p
{
	display:inline-block;
	font-weight:normal;
	color:#9990a2;
}
.diamond p strong
{
	font-size: 24px;
    color: #e14931;
    font-weight: 400;
}
.best
{
	padding-left:30px;
	
}
.best button.deal
{
	color:#54a7c4;
	border-radius: 0;
	position: relative;
	left: 4px;
	background:#e0f2f8;
}

.best p
{
	display: inline;
    font-size: 18px;

}

.buy
{
	border-bottom:1px solid #cfcfcf;
	padding:20px 0px;
}



.best1 p
{
	display: inline;
    font-size: 18px;

}


.best button
{
	background:#b28ac6;
}

.bottom
{
	padding-top:20px;
	text-align:center;
}
  
  
 /* Newsfeed  CSS-*/
     
     
   
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

profile-content {
  border-top: none !important;
}
.profile-stats {
  margin-right: 10px;
}
.profile-image {
  width: 120px;
  float: left;
}
.profile-image img {
  width: 96px;
  height: 96px;
}
.profile-info {
  margin-left: 120px;
}
.feed-activity-list .feed-element {
  border-bottom: 1px solid #e7eaec;
}
.feed-element:first-child {
  margin-top: 0;
}
.feed-element {
  padding-bottom: 15px;
}
.feed-element,
.feed-element .media {
  margin-top: 15px;
}
.feed-element,
.media-body {
  overflow: hidden;
}
.feed-element > .pull-left {
  margin-right: 10px;
}
.feed-element img.img-circle,
.dropdown-messages-box img.img-circle {
  width: 38px;
  height: 38px;
}
.feed-element .well {
  border: 1px solid #e7eaec;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 11px;
  line-height: 16px;
}
.feed-element .actions {
  margin-top: 10px;
}
.feed-element .photos {
  margin: 10px 0;
}
.feed-photo {
  max-height: 180px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}
.file-list li {
  padding: 5px 10px;
  font-size: 11px;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-bottom: 5px;
}
.file-list li a {
  color: inherit;
}
.file-list li a:hover {
  color: #1ab394;
}
.user-friends img {
  width: 42px;
  height: 42px;
  margin-bottom: 5px;
  margin-right: 5px;
}
  
   /* Datepicker CSS-*/
     

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    color: #000000;
    background-color: #e14931 !important;
    border-color: #e14931 !important;
}



/* ============================================== Suman ================================================ */
body{
    overflow-x: hidden;
}

button{
    outline:none;
    border:none;
}

.top-bar{
    z-index: 9999999;
}

.mobile-menu{
    color: #ffffff !important;
    font-size: 20px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.mobile-menu > a{
    color: #ffffff !important;
}

.oRatingLabel{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700 !important;
    margin-right: 10px;
}

.likely{
    margin: 10px auto;
}

.m-t-15{
    margin-top: 15px;
}

.total-fix{
    margin-top: 20px;
}

.plan{
    cursor: pointer;
}

.plan-input{
    height: 1px;
    width: 1px;
    color: #ffffff !important;
    opacity:0;
}

/* progress bar fix */
ul.checkout-bar li.active:last-child:after{
    width: 70%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bid-rating-container{
    position: relative;
    padding-bottom: 10px;
    margin: 20px auto;
}

.bid-position{
    position: absolute;
    left: 0px;
	font-size: 18px;
}

.rating-position{
    position: absolute;
    right: 0px;
}




ol.commentlist{
    padding-left: 0px;
}

#reviews .commentlist .comment{
    padding-bottom: 15px;
    margin-bottom: 10px;
}


.tag span{
    font-size: 6px;
    margin-left: 10px;
}

.tag:before{
    right:98%;
}


/* followers */
.user-image {
    /*background: url(img/f1.jpg) no-repeat;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 5px;
    display: inline-block;
    height: 50px;
    width: 50px;
    display: table-cell;
    border-radius: 25px;
}

.is-offline {
    color: red;
    float: right;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 7px;
}
.is-online {
    color: rgb(11, 183, 11);;
    float: right;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 7px;
}


.btn-follow{
    margin: 10px auto !important;
    display: inline-block;
    font-size: 12px !important;
}


.short-description{
    margin-bottom: 20px;
}

.explore-gap-fix{
    margin: 15px auto;
}

.hire-link{
    opacity: 1;
    color: #e14931;
    margin: 3px auto;
    display: inline-block;
    font-weight:500;
    transition: all 300ms;
	
}
.bid-history-item:hover .hire-link{
    opacity:1;
}

.hire-link:hover, .hire-link:focus{
    color: #e14931;
}


.review-text{
    display: block;
    margin-top: 10px;
}


.panel-group .panel{
    margin: 10px auto;
}

.advertblock{
    max-width: 100%;
}



.circle-div{
    position: absolute;
}

.categoty-checkbox{
    opacity:0;
    height: 1px;
    width: 1px;
}

.category-required-check{
    opacity:1;
}

#category-submit:disabled,
#category-submit[disabled]{
    border: 1px solid #999999;
    background-color: #fafafa;
    color: #666666;
}

.inline-block{
    display: inline-block;
}


.bid-now-fix{
    margin-left: 10px;
}

/*
 * bootstrap-tagsinput v0.8.0
 *
 */

.bootstrap-tagsinput {
    background-color: #fafafa;
    /*border: 1px solid #ccc;*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    width: 100%;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
    width:100%;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}
.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}





/* media screens */
@media all and (max-width: 576px) {

    .bid-rating-container{
        padding-bottom: 20px;
    }

    .bid-position{
        position: absolute;
        left: 0px;
        right: 0px;
        text-align: center;
		font-size: 18px;
    }

    .rating-position{
        position: absolute;
        left: 0px;
        right: 0px;
        text-align: center;
        padding-top: 18px;
    }

    .review-text{
        margin-top: 25px;
    }

}





/* ============== how it works ============== */
@media (min-width: 992px) {
    .main-section {
        background-size: auto 150%;
        /*background-image: url(//www.upwork.com/static/marketing/adquiro-webpack/images/hero-desktop.5cca0d66eb97.svg); */}

    h1 {
        font-size: 50px;
        line-height: 60px; }

    .text-long {
        font-size: 16px;
        line-height: 24px; } }
@media (min-width: 1328px) {
    .main-section {
        background-size: auto 135%;
        /*background-image: url(//www.upwork.com/static/marketing/adquiro-webpack/images/hero-desktop.5cca0d66eb97.svg); */} }
@media (max-width: 991px) and (min-width: 768px) {
    .main-section {
        background-image: url(//www.upwork.com/static/marketing/adquiro-webpack/images/hero-tablet.458eb94d28c8.svg); }

    .main-section .nav-tabs > li > a, .text-long {
        font-size: 14px;
        line-height: 22px; } }
@media (max-width: 767px) {
    .main-section .nav > li > a {
        padding: 12px;
        font-size: 12px;
        position: relative; } }
.main-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% center;
    height: auto;
    max-height: none;
    background-image: url(../images/banner.jpg);
    padding-top: 150px;
    padding-bottom: 159px;
    background-color: #f9f9f9;
    z-index: 1;
    position: relative; }
.main-section::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(255,255,255,0.3);
	z-index: -1;
}
.main-section .container {
    text-align: center; }
.main-section .container h1 {
    margin-bottom: 24px;
    margin-top: 0;
    font-family: "Gotham Bold", Helvetica, Arial, sans-serif;
    font-weight: 700; }
.main-section .container button.get-started {
    background-color: #e14931;
    border-color: #e14931;
    color: white;
    margin-top: 24px;
    margin-bottom: 11px; }
.main-section .container button.get-started:hover {
    background-color: #e14931;
    border-color: #e14931; }
.main-section div.nav-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ccc; }
.main-section div.nav-holder .nav-tabs {
    margin-bottom: -2px; }
.main-section div.nav-holder .nav-tabs li a {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f9f9f9;
    color: #494949;
    font-weight: 500; }
.main-section div.nav-holder .nav-tabs li.active a {
    border-bottom: none;
    background-color: white;
    color: #e14931; }

.section2 .nav-wrapper {
    text-align: center;
    border-bottom: 1px solid #e0e0e0; }
.section2 .nav-wrapper ul > li > a {
    padding: 30px 0 !important;
    display: inline-block; }
.section2 .nav-wrapper ul > li > a.active {
    color: #e14931;
    border-bottom: 2px solid #e14931; }

@media (min-width: 992px) {
    .text-image-section .row > div {
        width: 50%;
        margin-left: 0; }
    .text-image-section .row > div img {
        max-width: 80%; } }
@media (min-width: 992px) {
    .text-image-section img {
        max-width: 80%; } }
@media (min-width: 992px) {
    .text-image-section img {
        margin-top: 100px; } }
@media (max-width: 1199px) {
    .text-image-section img {
        max-height: 350px; } }
@media (min-width: 1200px) {
    .text-image-section img {
        max-height: 420px; } }
@media (min-width: 992px) {
    .text-image-section .col-md-pull-5 {
        right: 50%; }

    .text-image-section .col-md-push-7 {
        left: 50%; } }
.m-b-120 {
    margin-bottom: 40px !important; }

.text-image-section .title a {
    padding: 15px 60px 15px 0 !important;
    color: #e14931 !important; }

/*# sourceMappingURL=style.css.map */


/* account fixes */
.account-navbar{
    top: 54px;
    z-index:10;
}

.account-navbar .container{
    padding-left: 0 !important;
}
.account-navbar-nav{
    margin-top: 20px;
    margin-left: 40px;

    border:none !important;
    background: white !important;

    position: relative !important;

    left:0;
    right:0;
    margin-left: 0px;
    padding-left: 40px;

    text-align: left !important;
    margin-top: 15px;
    /*padding-top: 20px;*/
}


.account-navbar-header{
    margin: auto !important;
}

.account-navbar .container > .navbar-collapse{
    /*margin-left: -15px !important;*/
    /*margin-right: -15px !important;*/
    margin: 0px;

}



@media all and (max-width: 576px){
    .single-item .content {
        padding: 27px 15px;
    }
}


/* how it works fixes */
.hiw-logo{
    /*max-width: 215px;*/
}
/*check box size*/
.post-job-body .checkbox input[type="checkbox"] {
	transform: scale(1.7);
	outline: 0;
	margin-left: -30px;
}