
@media (max-width: 767px){
	.navbar-toggle
	{
		margin-top: 32px
	}
	.search-area form
	{
		padding: 20px 30px
	}
	.form-horizontal .form-control,
	.search-area a
	{
		border-radius: 10px
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form
	{
		background-color: white;
		border: none
	}
	.testimonials .carousel-inner
	{
		min-height: 325px
	}
	footer .search-input button
	{
		right: 154p
	}
	#topmenusearch input[type="search"]
	{
		font-size: 35px;
		padding-left: 15px
	}
}

/* small screen */
@media (min-width: 768px)and (max-width: 991px){
	.form-inline .form-control
	{
		margin-bottom: 15px
	}
	.search-area form
	{
		padding: 20px 30px
	}
	.form-horizontal .form-control,
	.search-area a
	{
		border-radius: 10px
	}
	.navbar-toggle
	{
		margin-top: 32px
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form
	{
		background-color: white;
		border: none
	}
	.testimonials .carousel-inner
	{
		min-height: 325px
	}
	

}

/* medium screen */
@media (min-width: 992px) and (max-width: 1199px){
	

}

/* large screen */
@media (min-width: 1200px){
	{

	}

}