/* global style start*/
body
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(40, 44, 50, 0.64)
}
h2
{
	color: #e14931;
	margin-bottom: 30px;
	text-transform: capitalize
}
h5
{
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 500;
	color: grey
}
hr
{
	border-color: darkgrey
}

/* global style end*/


/* my style start */
.top-bar
{
	background-color: #e14931;
	height: 30px;
	line-height: 30px;
	width: 100%;
	position: fixed;
	z-index:2000
}
.top-bar span:first-of-type
{
	font-size: 16px !important;
	text-transform: capitalize
}
.top-bar span:nth-of-type(2),
.top-bar span:nth-of-type(3)
{
	float: right;
	margin-right: 20px;
	 font-size: 14px;
    font-weight: 600;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase
}
.top-bar span:first-of-type a,
.top-bar span:nth-of-type(2) a,
.top-bar span:nth-of-type(3) a
{
	color: white
}
.top-bar span:first-of-type a:hover
{
	text-decoration: none
}
.fixed-remove
{
	width: 100%;
	height: 120px
}
.search
{
	position: relative;
	background-image: url(../images/search.jpg);
	background-position: center center;
	background-size: cover;
	height: 500px;
	padding-top: 7%
}
.search-area
{
	position: relative;
	z-index: 1000
}
.search-area h2
{
	color: white;
	font-size: 64px !important;
	font-weight: 600
}
.search-area form
{
	padding: 20px 5px;
	background-color: rgba(255, 255, 255, 0.2);
}
.form-inline .form-control,
.search-area a
{
	border-radius: 10px
}
.search-area a,
.explore-btn
{
	display: inline-block;
	padding-left:15px;
	padding-right:15px;
	color: white;
	background-color: #e14931;
}
.search-area a:hover,
.explore-btn:hover

{
	text-decoration: none;
	color: #e14931;
	background-color: white
}
.explore-btn
{
	margin: 30px 0;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 0
}
.popular-categories
{
	margin: 30px 0
}
.popular-categories h5
{
		padding-top:10px;
		border-top: 2px dashed #ddd;
}
.pop-section
{
	position: relative;
}
.pop-section:hover .pop-out
{
	display: block;
	opacity: .9;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.pop-section:hover .pop-out .lead
{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition:  all .4s ease-in-out;
	-moz-transition:  all .4s ease-in-out;
	-ms-transition:  all .4s ease-in-out;
	-o-transition:  all .4s ease-in-out;
	transition:  all .4s ease-in-out;
}

.pop-out
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	padding-top: 30%;
	opacity: 0;
	cursor: pointer
	
}
.pop-out .lead
{
	color: #666;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	padding: 0 56px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.popular-categories img
{
	width: 120px;
	height: 122px
}
.flex-container-first
{
	background-image:url(../images/how-it-works-stepsbg.jpg);
	background-position:bottom;
	background-repeat:no-repeat 
}
.sign-up-first,
.start-project,
.get-bids
{
	min-height: 234px
}
.gallery-images {
	display:block;
	margin: 0 auto;
	vertical-align:middle;
	background-color:#f2f2f2
}
.gallery-images img {
    display: block;
    margin: auto;
    text-align: center;
    width: 120px;
}
.tenders
{
	margin-bottom: 30px
}
.tenders .callout
{
	border:  solid 1px #eee;
	border-left: 7px solid #e14931;
	padding: 15px 10px;
	margin-bottom: 15px;
	position: relative;
	z-index: 50
}
.tenders .callout h3
{
	color: #e14931
}
.tenders .callout h3 ~ p
{
	color: #666
}
.tenders .callout .add-information
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	z-index: 100;
	padding: 5px;
	display: none
}
.tenders .callout .add-information hr
{
	border-color: #e14931
}
.tenders .callout .location,
.tenders .callout .days
{
	display: table;
	margin-top: 18px;
	font-size: 15px;
	color: #666
}
.tenders .callout .location span:nth-child(2),
.tenders .callout .days span:nth-child(2)
{
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
	padding-top: 4px
}
.tenders .callout .days span:nth-child(2)
{
	padding-top: 5px
}
.tenders .callout .location .glyphicon,
.tenders .callout .days .glyphicon
{
	display: table-cell;
	vertical-align: middle;
	font-size: 27px;
	color: #e14931
}
.tenders .callout:hover .add-information
{
	display: block
}
.tenders .callout:hover a
{
	color: black;
	text-decoration: none
}
.tenders .callout img
{
	height: 100px;
	width: 100px
}

.tenders .callout .lead
{
	font-size: 18px;
	font-weight: 400
}
.tenders .callout .days
{
	margin-top: 18px
}
.tenders .callout h5
{
	margin-top: 24px
}
.tenders .callout .bid-range
{
	color: green;
	font-weight: 600;
	font-size: 16px
}
.testimonials
{
	background-color: #f2f2f2;
	padding-top: 30px
}
.testimonials h4
{
	text-transform: capitalize
}
.testimonials .glyphicon-star
{
	color: gold;
	margin-top: 20px
}
.testimonials p
{
	font-size: 16px !important
}
.testimonials .carousel-inner
{
	min-height: 280px
}
.testimonials .carousel-indicators
{
	position: static;
	width: 100%;
	margin-left: auto;
	
}
.testimonials .carousel-indicators li
{
	border: 1px solid black
}
.testimonials .carousel-indicators .active
{
	background-color: black !important
}
.to-top
{
	
	position: fixed;
	bottom: 40px;
	right: 35px;
	z-index: 3000;
	width: 37px;
	height: 37px;
	background-color: #2F2F2F;
	border: 1px solid white;
	border-radius: 48%;
	text-align: center;
	padding: 8px 5px 5px;
	display: none
}
.to-top i
{
	color: white;
	font-size: 19px
}
.to-top:hover
{
	background-color: #e14931;
	-webktit-transition: .5s all ease-in-out;
	-moz-transition: .5s all ease-in-out;
	-ms-transition: .5s all ease-in-out;
	-o-transition: .5s all ease-in-out;
	transition: .5s all ease-in-out;
}
footer
{
	background-color: #2F2F2F;
	color: white
}
form.search-box
{
	position: relative
}
.newsletter-box form.search-box input {
    border: 1px solid #e8e8e8;
    font-weight: 300;
    height: 45px;
    line-height: 45px;
    padding: 0 45px 0 15px;
    text-align: left;
    width: 100%;
}

.newsletter-box .btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    bottom: 0;
    color: #bababa;
    position: absolute;
    right: 0;
    top: 6px;
    width: 45px;
}
.newsletter-box .btn i
{
	color: #e14931
}
.footer-middle-content p
{
	margin: 20px 0 10px
}
footer .newsletter-box
{
	margin-bottom:10px
}
footer input
{
	padding: 7px 20px
}
footer .newsletter-box button
{
	color:  #e14931;
	padding: 7px 20px
}
footer .toggle-footer
{
	padding-left: 10px
}
footer .copy
{
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
	padding-bottom: 20px
}
footer .copy a,
footer .copy a:hover
{
	color: #e14931;
	text-decoration: none
}
#topmenusearch {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
	z-index:9999;
}

#topmenusearch.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#topmenusearch input[type="search"] {
    /*position: absolute;
    top: 50%;
    left: 29%;*/
    width: 644px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    /*text-align: center;*/
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    /*padding-left: 30px;
    padding-right: 30px;*/
    outline: none;
}
#topmenusearch .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 38px;
    margin-left: -45px;
    height: 40px;
   
}

#topmenusearch .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #e14931;
	border-color: #e14931;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
  width: 47px !important;
}
.searcher
{
	position: absolute;
	top: 50%;
	width: 100%;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0);
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	border: 0px;
	margin: 0px auto;
	margin-top: -51px;
	outline: none
}
.searchtagsrow { position: absolute;
    top: 70%;
	width: 100%;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;

	
}
button.btn {
	height: 32px;
    margin: 0;
    padding: 0 14px;
    vertical-align: middle;
    background: #e14931;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 11px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.tags li 
{
  list-style:none;
  display:inline-block;
  background-color:#CCCCCC;
  border-radius:5px;
  padding:5px 10px;
  font-size:14px;
  color:#666;
  margin:0 auto;
  line-height:27px;
  text-transform:uppercase;
}
.tags > a > li:hover 
{
  color:#fff;
  background-color: #262626;
}

/* my style end*/

/* Bootstrap override start */
.navbar-default 
{
	position: fixed;
	background-color: white;
	top: 30px;
	height: 90px;
	width: 100%;
	border: none;
	z-index: 2000
}
.navbar-brand > img
{
	width: 100%;
	position: relative;
	top: -8px
}
.navbar-nav
{
	margin-left: 40px;
	margin-top: 20px
	
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a
{
	text-transform: uppercase;
	color: #252525;
    font-size: 14px;
    font-weight: 600;
	font-family: "Poppins", sans-serif;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
	color: #e14931;
	-webkit-transition: .5s all ease-in-out;
	-moz-transition: .5s all ease-in-out;
	-ms-transition: .5s all ease-in-out;
	-o-transition: .5s all ease-in-out;
	transition: .5s all ease-in-out;
}
.form-horizontal input,
.form-horizontal select,
.form-inline input,
.form-inline select
{
	border-radius: 0;
	margin-right: 15px
}


footer .social ul
{
	float: right
}
footer .social li a i
{
    width: 30px;
    height: 30px;
	font-size: 20px;
    border-radius: 2%;
    line-height: 30px;
	color: white;
    text-align: center;
	background-color: none;
    box-shadow: 0 0 10px 0 rgba(53,67,78,.1)
}
footer .social li a i:hover
{
	background-color: #e14931
}

/* Bootstrap override end */