
/* ========= logged bar ============== */
.navbar-inverse {
    background-color: #e14931 !important;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

/* # Navbar and navbar elements
================================================== */


/*===== Navbar styles =====*/

.navbar {
    z-index: 1000;
    min-height: 54px;
    border-radius: 0;
    margin: 0;
    border: 0;
}

.navbar-fixed {
    padding-top: 54px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
}





/*===== Default navbar =====*/

/*.navbar-default {*/
    /*background-color: #fafafa;*/
    /*border-bottom: 1px solid #e5e5e5;*/
    /*border-color: #e5e5e5;*/
/*}*/
/*.navbar-default .navbar-nav > li {*/
    /*border-color: rgba(0, 0, 0, 0.1);*/
/*}*/
/*.navbar-default .navbar-nav > li > a {*/
    /*color: #333;*/
/*}*/
/*.navbar-default .navbar-nav > li > a:hover,*/
/*.navbar-default .navbar-nav > li > a:focus {*/
    /*background-color: rgba(0, 0, 0, 0.02);*/
/*}*/
/*.navbar-default .navbar-nav > .open > a,*/
/*.navbar-default .navbar-nav > .open > a:hover,*/
/*.navbar-default .navbar-nav > .open > a:focus {*/
    /*background-color: rgba(0, 0, 0, 0.05);*/
/*}*/
/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a:hover,*/
/*.navbar-default .navbar-nav > .active > a:focus {*/
    /*background-color: #eee;*/
/*}*/

/*.navbar-default .sidebar-toggle {*/
    /*background-color: rgba(0, 0, 0, 0.4);*/
/*}*/
/*.navbar-default .sidebar-toggle:hover,*/
/*.navbar-default .sidebar-toggle:focus {*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
/*}*/





/*===== Inversed navbar =====*/

.navbar-inverse {
    background-color: #518CA3;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(0, 0, 0, 0.06);
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #fff;
    background-color: transparent;
    opacity: 0.4;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
}

.navbar-inverse .navbar-nav > li > a > .label {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-nav > li > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-link {
    color: #fff;
}


@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}




/*===== Navbar nav =====*/

/*.navbar-nav {*/
    /*margin: 0;*/
/*}*/

/*.navbar-nav.navbar-right:last-child {*/
    /*margin-right: 25px;*/
/*}*/

/*.navbar-nav > li {*/
    /*border-right: 1px solid rgba(255, 255, 255, 0.1);*/
    /*border-left: 0;*/
    /*font-size: 12px;*/
    /*display: inline-block;*/
/*}*/
/*.navbar-nav > li:first-child {*/
    /*border-left: 1px solid rgba(255, 255, 255, 0.1);*/
/*}*/

/*.navbar-nav > li > .dropdown-menu {*/
    /*margin-top: 10px;*/
    /*border-radius: 2px;*/
/*}*/

/*.navbar-nav > li > a {*/
    /*padding-top: 17px;*/
    /*padding-bottom: 17px;*/
    /*height: 54px;*/
/*}*/

/*.navbar-nav > li > a > .label {*/
    /*padding: 3px 6px 4px 6px;*/
    /*float: right;*/
    /*margin-left: 4px;*/
/*}*/

/*.navbar-nav > li > a > [class*="icon-"] {*/
    /*float: left;*/
    /*margin: 2px 4px;*/
    /*line-height: 1;*/
/*}*/

/*@media (max-width: 991px) {*/

    /*.navbar-nav {*/
        /*text-align: center;*/
        /*font-size: 0;*/
        /*float: none;*/
    /*}*/
    /*.navbar-nav > li {*/
        /*float: none;*/
    /*}*/

    /*.navbar-left,*/
    /*.navbar-right {*/
        /*float: none !important;*/
    /*}*/

/*}*/





/*===== Navbar elements =====*/


/* Navbar header */

.navbar-header {
    position: relative;
    min-width: 203px;
    margin-left: 25px;
    margin-right: 15px;
}
.container .navbar-header {
    min-width: 240px;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}


/* Navbar brand */

.navbar-brand {
    height: 54px;
    padding: 14px 15px 0 0;
}


/* Navbar collapse */

.navbar-collapse {
    padding: 0;
}


/* Navbar form */

.navbar-form {
    padding: 0;
    margin: 10px 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-form .form-group {
    margin-top: 0!important;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-bottom-color: rgba(255,255,255,0.1);
}
.navbar-inverse .navbar-form .form-control {
    border: 0;
    border-radius: 2px;
}


/* Navbar button */

.navbar-btn {
    margin: 10px 15px;
}


/* Navbar text */

.navbar-text {
    margin-top: 18px;
    margin-bottom: 19px;
    font-size: 12px;
    text-align: left;
}
.navbar-text i {
    float: left;
    margin-right: 6px;
}


/* Navbar toggle */

/*.navbar-toggle {*/
    /*display: block;*/
    /*float: right;*/
    /*color: #fff;*/
    /*border: 0;*/
    /*padding: 6px 7px 7px 7px;*/
    /*line-height: 1;*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
    /*margin: 12px 0 12px 10px;*/
    /*border-radius: 0;*/
/*}*/

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    /*background-color: #3A4B55;*/
}


/* Navbar user dropdown styles */

.user.dropdown { vertical-align: top; }
.user.dropdown > a { padding-top: 7px; padding-bottom: 7px; }
.user.dropdown > a > img { float: left; margin: 4px 0; max-height: 32px; }
.user.dropdown > a > span { display: inline-block; margin: 10px 0 10px 8px; }




@media (min-width: 992px) {

    .navbar-form,
    .navbar-text,
    .navbar-nav,
    .navbar-button,
    .sidebar {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }

}



@media (max-width: 991px) {

    .navbar-header {
        float: none;
        margin-right: 25px;
    }

    .navbar-nav {
        text-align: center;
        font-size: 0;
        position: absolute;
        width: 100%;
    }
    .navbar-inverse .navbar-nav {
        background-color: #303D44;
    }
    .navbar-default .navbar-nav {
        background-color: #f2f2f2;
    }

    .navbar-nav > li {
        float: none;
        position: static;
        border: 0;
    }
    .navbar-nav > li:first-child {
        border-left: 0;
    }
    .navbar-nav > li > .dropdown-menu {
        width: 60%;
        margin: 2px 20%;
    }

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }

    .navbar-nav .dropdown-menu .popup-header:after,
    .navbar-nav .dropdown-menu > li:first-child:after,
    .navbar-nav .dropdown-menu > li:first-child:before {
        content: "";
        border: 0;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }

    .navbar-form {
        margin: 0;
        text-align: center;

    }
    .navbar-inverse .navbar-form,
    .navbar-inverse .navbar-nav {
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    .navbar-default .navbar-form,
    .navbar-default .navbar-nav {
        border-top: 1px solid #e5e5e5;
    }

    .navbar-form .btn {
        margin: 15px 15px 15px 0;
    }

    .navbar-form .form-group {
        padding: 15px;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-text {
        padding: 0 15px;
    }

    .navbar-inverse .navbar-form {
        background-color: #3A4B55;
    }

    .navbar-default .navbar-form {
        background-color: #f2f2f2;
    }

}



@media (max-width: 768px) {

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse,
    .navbar-header {
        margin: 0 15px;
    }

    .navbar-nav > li > .dropdown-menu,
    .navbar-nav .open .dropdown-menu,
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: 90%;
        margin: 5px 5% 0 5%;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 10px 12px 11px 12px;
        line-height: 1.42857143;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #3A4B55;
        box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
        -webkit-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
        -moz-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
    }

}


/* style */
/*===== Icons group =====*/

.icons-group a {
    color: #555;
    margin-left: 4px;
}
.icons-group a:first-child {
    margin-left: 0;
}
.icons-group a:hover, .icons-group a:focus {
    color: #999;
}

.footer .icons-group a {
    margin-left: 12px;
    color: #999;
    float: left;
}
.footer .icons-group a:hover, .footer .icons-group a:focus {
    color: #555;
}





/*===== Navbar popup =====*/

.popup {
    min-width: 300px;
}
.popup-header {
    background: #32434D;
    text-align: center;
    color: #fff;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
}
.popup .popup-header {
    margin: -1px -1px 0 -1px;
}
.popup-header > span {
    display: inline-block;
    margin: 11px 12px 12px 12px;
}
.popup-header a {
    display: block;
    color: #fff;
    padding: 11px 12px 12px 12px;
    line-height: 1;
}
.popup-header a:hover {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
.popup-header a i {
    opacity: 0.8;
    filter: alpha(Opacity=80);
}
.popup-header a:hover i {
    opacity: 1;
    filter: alpha(Opacity=100);
}

.dropdown-menu .popup-header:after {
    content: '';
    position: absolute;
    top: -7px;
    left: 13px;
    display: inline-block;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid #32434D;
    border-left: 6px solid rgba(0, 0, 0, 0);
}
.dropdown-menu.dropdown-menu-right .popup-header:after {
    left: auto;
    right: 13px;
}

.popup .table {
    min-width: 400px;
}

@media (max-width: 767px) {
    .popup, .popup .table {
        min-width: 0;
    }
}





/*===== Navbar messages =====*/

.popup-messages {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 197px;
    overflow-y: auto;
}
.popup-messages > li {
    border-top: 1px solid #eee;
}
.popup-messages > li:first-child {
    border-top: 0;
}
.popup-messages > li > a {
    padding: 12px;
    display: block;
    position: relative;
}
.popup-messages > li > a:hover {
    background-color: #F5FFFB;
}
.popup-messages > li > a:hover > strong {
    color: #D65C4F;
}
.popup-messages > li > a > div {
    margin-left: 52px;
}
.popup-messages > li > a > strong {
    display: block;
    margin-top: 4px;
    font-weight: 600;
    color: #333;
    padding-right: 20px;
}
.popup-messages > li > a > strong > i {
    position: absolute;
    right: 12px;
    top: 15px;
    color: #ccc;
}
.popup-messages > li > a > span {
    color: #676767;
    font-size: 11px;
}
.popup-messages > li.unread > a {
    background: #fffff2;
}
.popup-messages > li.unread > a > strong {
    color: #237B91;
}

.user-face {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 12px;
}



/*===== Navbar activity =====*/

.activity {
    max-height: 182px;
    overflow-y: auto;
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.activity > li {
    padding: 12px;
    border-top: 1px solid #f5f5f5;
}
.activity > li:first-child {
    border-top: 0;
}
.activity > li:hover {
    background-color: #F5FFFB;
}
.activity > li:hover a {
    color: #D65C4F;
}
.activity > li > i {
    float: left;
    /*margin-top: 1px;*/
}
.activity > li > div {
    margin-left: 28px;
}
.activity > li > div > a {
    font-weight: 600;
}
.activity > li > div > span {
    display: block;
    color: #999;
    font-size: 11px;
    line-height: 16px;
}
#slide-div {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 230px;
    background-color: #fff;
    display:none;
}
.slide-div-back{
    position:absolute;
    background-color:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
}
.show-div{
    display:block;
}
#slide-div li {
    margin: 0;
    padding: 9.6px 0px 9.6px 15px;
    color:#fff;
}
#slide-div li:nth-child(1) {
    background-color:#4285F4;
}
#slide-div li:nth-child(2) {
    background-color:#EA4335;
}
#slide-div li:nth-child(3) {
    background-color:#FBBC05;
}
#slide-div li:nth-child(4) {
    background-color:#4285F4;
}
#slide-div li:nth-child(5) {
    background-color:#34A853;
}
.overflow{
    overflow:hidden;
}




/*===== Dropdown menu =====*/

.dropdown-menu {
    margin: 10px 0 0 0;
    text-align: left;
    padding: 0;
    font-size: 12px;
    border: 1px solid #CCC;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dropdown-menu.dropdown-menu-right {
    right: -1px;
}

.dropdown-menu > li > a {
    padding: 10px 12px 11px 12px;
    text-align: left;
    font-weight: 600;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    outline: 0;
    color: #ffffff;
    background-color: #3A4B55;
    box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
    -webkit-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
    -moz-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
}

.dropdown-menu > li > a .label {
    float: right;
    margin-top: -2px;
    margin-right: -5px;
}
.dropdown-menu > li > a:hover .label,
.dropdown-menu > li.active > a:hover .label {
    background-color: rgba(0,0,0,0.5);
}

.dropdown-menu > li > a > i,
.dropdown-menu > li > a > img {
    opacity: 0.4;
    color: #505050;
    float: left;
    margin-right: 8px;
}
.dropdown-menu > li > a > img {
    margin-top: 3px;
}

.dropdown-menu > li > a:hover > i,
.dropdown-menu > li > a:hover > img {
    color: #fff;
    opacity: 1;
}

.dropdown-menu > li {
    position: relative;
}
.dropdown-menu > li:first-child {
    margin-top: -1px;
}
.dropdown-menu > li:last-child {
    margin-bottom: -1px;
}

.dropdown-menu.icons-right > li > a > i {
    float: right;
    margin-left: 8px;
    margin-right: 0;
}


.dropdown-menu > li:first-child > a {
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
}
.dropdown-menu > li:last-child > a {
    border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
}


.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #65B688;
    box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
    -webkit-box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
    -moz-box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
}
.dropdown-menu > .active > a > img,
.dropdown-menu > .active > a:hover > img,
.dropdown-menu > .active > a:focus > img,
.dropdown-menu > .active > a > i,
.dropdown-menu > .active > a:hover > i,
.dropdown-menu > .active > a:focus > i {
    opacity: 1;
    color: #fff;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    box-shadow: none;
}

.dropdown-menu > .disabled > a > img,
.dropdown-menu > .disabled > a:hover > img,
.dropdown-menu > .disabled > a:focus > img,
.dropdown-menu > .disabled > a i,
.dropdown-menu > .disabled > a:hover i,
.dropdown-menu > .disabled > a:focus i {
    color: #999;
    opacity: 0.4;
}

.dropdown-menu-right {
    right: -1px;
}
.dropdown-menu-left {
    left: -1px;
}

.dropdown-header {
    padding: 11px 12px 12px 12px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.pull-right > .dropdown-menu {
    right: -1px;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    margin-bottom: 10px;
}


/* Dropdown submenu */

.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff;
    background-color: #3A4B55;
    box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-border-radius: 2px 2px 2px 0;
    -moz-border-radius: 2px 2px 2px 0;
    border-radius: 2px 2px 2px 0;
}
.dropdown-submenu > a:after {
    display: block;
    content: "";
    float: right;
    width: 0;
    height: 0;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 3px 0 3px 3px;
    border-left-color: #999;
    margin-top: 7px;
    margin-right: -4px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none!important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: -2px;
    -webkit-border-radius: 2px 0 2px 2px;
    -moz-border-radius: 2px 0 2px 2px;
    border-radius: 2px 0 2px 2px;
}

.dropdown-submenu .dropdown-menu > li:first-child:before,
.dropdown-submenu .dropdown-menu > li:first-child:after,
.dropup .dropdown-submenu .dropdown-menu > li:last-child:before,
.dropup .dropdown-submenu .dropdown-menu > li:last-child:after {
    border: 0;
}


/* Dropdown arrows */

.dropdown-menu > li:first-child:before {
    position: absolute;
    top: -6px;
    left: 11px;
    display: inline-block;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 7px solid #ccc;
    border-left: 7px solid rgba(0, 0, 0, 0);
    content: '';
}

.dropdown-menu > li:first-child:after {
    position: absolute;
    top: -5px;
    left: 12px;
    display: inline-block;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid #FFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    content: '';
}

.dropdown-menu.dropdown-menu-right > li:first-child:before,
.dropup .dropdown-menu.dropdown-menu-right > li:first-child:before {
    left: auto;
    right: 13px;
}

.dropdown-menu.dropdown-menu-right > li:first-child:after,
.dropup .dropdown-menu.dropdown-menu-right > li:first-child:after {
    left: auto;
    right: 14px;
}

.dropup .dropdown-menu > li:last-child:before {
    position: absolute;
    bottom: -6px;
    left: 11px;
    display: inline-block;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid #ccc;
    border-left: 7px solid rgba(0, 0, 0, 0);
    content: '';
}

.dropup .dropdown-menu > li:last-child:after {
    position: absolute;
    bottom: -5px;
    left: 12px;
    display: inline-block;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-top: 6px solid #fff;
    border-left: 6px solid rgba(0, 0, 0, 0);
    content: '';
}

.dropup .dropdown-menu > li:first-child:before,
.dropup .dropdown-menu > li:first-child:after {
    border: 0;
}

.dropup .dropdown-menu.dropdown-menu-right > li:last-child:after {
    left: auto;
    right: 14px;
}

.dropup .dropdown-menu.dropdown-menu-right > li:last-child:before {
    left: auto;
    right: 13px;
}

.dropdown-menu > li:first-child:hover:after,
.dropdown-menu > li:first-child:hover:before {
    border-bottom-color: #3A4B55;
}

.dropup .dropdown-menu > li:last-child:hover:after,
.dropup .dropdown-menu > li:last-child:hover:before {
    border-top-color: #3A4B55;
}

.dropdown-menu > li.active:first-child:after,
.dropdown-menu > li.active:first-child:before {
    border-bottom-color: #65B688;
}

.dropup .dropdown-menu > li.active:last-child:after,
.dropup .dropdown-menu > li.active:last-child:before {
    border-top-color: #65B688;
}

.dropdown-menu > li.disabled:first-child:hover:after {
    border-bottom-color: #fff;
}
.dropdown-menu > li.disabled:first-child:hover:before {
    border-bottom-color: #ccc;
}

.dropup .dropdown-menu > li.disabled:last-child:hover:after {
    border-top-color: #fff;
}
.dropup .dropdown-menu > li.disabled:last-child:hover:before {
    border-top-color: #ccc;
}

.dropdown-menu > li.dropdown-header:first-child:hover:before {
    border-bottom-color: #ccc;
}

.dropdown-menu > li.dropdown-header:first-child:hover:after {
    border-bottom-color: #fff;
}

.dropup .dropdown-menu > li.dropdown-header:last-child:hover:before {
    border-top-color: #ccc;
}

.dropup .dropdown-menu > li.dropdown-header:last-child:hover:after {
    border-top-color: #fff;
}








/* customize */
.navbar-inverse{
    cursor: pointer;
}
.navbar-brand img{
    top:0;
}

.navbar-brand{
    font-size: 16px;
}
a.navbar-brand:hover{
    text-decoration: underline !important;
}

.sidebar-nav li.active a{
    color: #D65C4F !important;
}

/* fix */
.panel .expand a:before{
    content: "\f055";
}
.panel .expand.collapsed a:before{
    content: "\f055";
}

.panel .expand[aria-expanded=true] a:before{
    content: "\f056";
}

/* fix */
.logged-nav{
    margin-top: 0px;
    margin-right: 10px;
}